<ion-view title="Another view">
    <ion-content padding="true">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="dashboard page">
                <input type="text" placeholder="dashboard page">
                <input type="text" placeholder="dashboard page">
                <input type="text" placeholder="dashboard page">
                <input type="text" placeholder="dashboard page">
                <input type="text" placeholder="dashboard page">
            </label>
        </div>

    </ion-content>
</ion-view>